:root {
  --application-primary-color: #46139f;
  --application-secondary-color: #ff7f50;
  --application-primary-background-color: #ffffff;
  --application-text-color: #242132;
  --application-border-radius: 5px;
}