.contactModalMain {
  padding: 20px;
  border: none !important;
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 20px;

  .contactModalBody {
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 20px;
    border-bottom: 1px solid var(--application-border-color);
  }

  .modalLabel {
    font-size: 25px;
    font-family: 'Roboto-Bold';
    margin: 0 auto;
  }

  .contactModalFooter {
    display: grid;
    grid-template-columns: 20px auto;
    column-gap: 15px;
    align-items: center;
  }

  .onlyEvenInputControl {
    width: 20px;
    height: 20px;
  }

  .onlyEvenLabel {
    font-size: 16px;
    margin: 0;
  }

  .contactItem {
    display: grid;
    grid-template-columns: 40px auto;
    column-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--application-border-color);
    cursor: pointer;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    }
  }

  .contactAvatar {
    width: 30px;
    height: 30px;
    background-color: var(--application-primary-color);
    color: var(--application-primary-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--application-border-radius);
    font-weight: 800;
    font-family: 'Roboto-Bold';
  }

  .contactText {
    font-size: 16px;
    margin: 0;
    cursor: inherit;
  }

  .loadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}